SouthTech_Test/Service References/SouthTechService/SouthTech.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SouthTech" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52658/SouthTechInteg.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52658/SouthTechInteg.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52658/SouthTechInteg.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52658/SouthTechInteg.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntegrationService.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISouthTech_ContactTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ContactTransaction" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_ContactTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContactTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetAllContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContact" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetAllContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetContactByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactByID" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetContactByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetAllGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroup" />
  </wsdl:message>
  <wsdl:message name="ISouthTech_GetAllGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="ISouthTech">
    <wsdl:operation name="ContactTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ISouthTech/ContactTransaction" message="tns:ISouthTech_ContactTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISouthTech/ContactTransactionResponse" message="tns:ISouthTech_ContactTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISouthTech/GetAllContact" message="tns:ISouthTech_GetAllContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISouthTech/GetAllContactResponse" message="tns:ISouthTech_GetAllContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISouthTech/GetContactByID" message="tns:ISouthTech_GetContactByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISouthTech/GetContactByIDResponse" message="tns:ISouthTech_GetContactByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISouthTech/GetAllGroup" message="tns:ISouthTech_GetAllGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISouthTech/GetAllGroupResponse" message="tns:ISouthTech_GetAllGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISouthTech" type="tns:ISouthTech">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContactTransaction">
      <soap:operation soapAction="http://tempuri.org/ISouthTech/ContactTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContact">
      <soap:operation soapAction="http://tempuri.org/ISouthTech/GetAllContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactByID">
      <soap:operation soapAction="http://tempuri.org/ISouthTech/GetContactByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroup">
      <soap:operation soapAction="http://tempuri.org/ISouthTech/GetAllGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SouthTech">
    <wsdl:port name="BasicHttpBinding_ISouthTech" binding="tns:BasicHttpBinding_ISouthTech">
      <soap:address location="http://localhost:52658/SouthTechInteg.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>