SouthTech_Test/Service References/SouthTechService/SouthTechInteg2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntegrationService.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntegrationService.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhonesList" nillable="true" type="tns:ArrayOfContactPhone" />
      <xs:element minOccurs="0" name="fld_Contact_ID" type="xs:int" />
      <xs:element minOccurs="0" name="fld_Contact_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fld_Group_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfContactPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPhone" nillable="true" type="tns:ContactPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPhone" nillable="true" type="tns:ArrayOfContactPhone" />
  <xs:complexType name="ContactPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="fld_Contact_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="fld_Phone_ID" type="xs:int" />
      <xs:element minOccurs="0" name="fld_Phone_Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactPhone" nillable="true" type="tns:ContactPhone" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="fld_Group_ID" type="xs:int" />
      <xs:element minOccurs="0" name="fld_Group_Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
</xs:schema>